<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travellers">
    <test name="SearchHotelTest" thread-count="3" parallel="classes">
        <classes>
            <class name="pl.selenium.test.SearchHotelTest"/>
            <class name="pl.selenium.test.SignUpTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->